/*My Styles*/
.jumbotron {
	min-height: 500px;
	height: 100vh;
}
.jumbotron {
	background:  linear-gradient(
      rgba(0, 0, 0, 0.25) 10%,
      rgba(0, 0, 0, 0) 25%
    ),url('../assets/heros/peru-6	.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron h1, .jumbotron p {
	opacity:1;
	transform: none;
	-webkit-transform: none;
}

.jumbotron h1 {
	font-size: 48px !important;
}
.jumbotron p {
	font-size: 21px !important;
}

.hero-text {
	position: absolute;
	right: 60px;
	top: 300px;
	max-width:600px;
	/* transform: translateY(-50%); */
}

@media (max-width: 767px) {
	#main-nav {
		background: transparent;
	}
}

#about {
		background: #fff;
		color: #000;
}

#contact {
	/* background: rgba(0,0,0,0);
	color: black; */
}

.bl_form input, .bl_form textarea {
	color: #000;
}

.top {
	color: 000;

}

.lb_label.active {
	color: #000;
	font-weight: normal;
}

#main-nav.scrolled {
	color: #fff;
}

.modal-body {
	background: #1D2026;
}

.project-item .hover-mask {
	border-top: 1px solid #BEEF98;
	border-bottom: 1px solid #BEEF98;
}

.project-item .hover-mask .project-title {
	color: inherit;
}

.project-item .hover-mask p {
	visibility: hidden;
}
.project-item .hover-mask svg, .project-item .hover-mask img {
	max-height: 50px;
	margin-top: 10px;
}

#project-modal .close {
	color: #000;
}

.antispam {
	display: none;
}



/*** SLIDE-IN CONTACT BOX ***/

#slidebox {
    width: 265px;
    height: 300px;
    padding:10px;
    background-color: #1D2026;
    border-top:3px solid #E28409;
    position:fixed;
    bottom: 400px;
    right: 0px;
	-moz-box-shadow:-2px 0px 5px #aaa;
	-webkit-box-shadow:-2px 0px 5px #aaa;
	box-shadow:-2px 0px 5px #aaa;
	z-index: 1;
	opacity: .93;
}

#slidebox p, a.more{
    font-size:14px;
    text-transform:uppercase;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing:1px;
    color:#555;
}
a.more{
    cursor:pointer;
    color:#E28409;
}
a.more:hover{
    text-decoration: none;


}

/**********************
 CONTACT FORM
 **********************/

 .bl_form input, .bl_form textarea {
 	border: 1px solid #1D2026;
 }

/*SLIDEBOX*/

#slidebox h1 {
	color: #BEEF98;
	margin-top: 30px;
	margin-bottom: 30px;
}
#slidebox h2{
    color:#BEEF98;
    font-size: 22px;
    margin:10px 20px 10px 0px;
}

a.close{
    background:transparent url(../assets/close.gif) no-repeat top left;
    width:13px;
    height:13px;
    position:absolute;
    cursor:pointer;
    top:10px;
    right:10px;
    color: #000;
}
a.close:hover{
    background-position:0px -13px;
}

.
